@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";

:root {
  --primary: oklch(27.8% 0.033 256.848);
  --primary-foreground: #ffffff;
}

/* When dark mode is active */
body.dark {
  --primary-foreground: oklch(14.1% 0.005 285.823);
  color: white;
}

body {
  background-color: var(--primary-foreground);
}

/* makes dark variant apply based on class of ancestors instead of prefersColorScheme */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --breakpoint-xxs: 28rem;
  --breakpoint-xs: 35rem;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-gray: oklch(70.4% 0.04 256.788);
  --color-brown: oklch(40% 0.06 70);
  --text-xxs: 0.6rem;
  --text-xxxs: 0.4rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-in-out;
}

.triple-word:after,
.center:after,
.double-word:after,
.triple-letter:after,
.double-letter:after {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.triple-word:after {
  background-color: #f43f5e;
  color: white;
}
.double-word:after,
.center:after {
  background-color: #f59aa4;
  color: black;
}
.center:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 -2 24 24'%3E%3Cpath d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E");
}
.double-letter:after {
  background-color: #7dd3fc;
  color: black;
}
.triple-letter:after {
  background-color: #0284c7;
  color: white;
}
