@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";

:root {
  --primary: oklch(27.8% 0.033 256.848);
  --primary-foreground: #ffffff;
}

/* When dark mode is active */
body.dark {
  --primary-foreground: oklch(14.1% 0.005 285.823);
  color: white;
}

body {
  background-color: var(--primary-foreground);
}

/* makes dark variant apply based on class of ancestors instead of prefersColorScheme */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --breakpoint-xxs: 28rem;
  --breakpoint-xs: 35rem;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-gray: oklch(70.4% 0.04 256.788);
  --color-brown: oklch(40.8% 0.123 38.172);
  --text-xxs: 0.6rem;
  --text-xxxs: 0.4rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-in-out;
}
