@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";

:root {
  --primary: #1b48b1;
  --primary-foreground: #ffffff;
}
@theme inline {
  --breakpoint-xxs: 28rem;
  --breakpoint-xs: 35rem;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-gray: oklch(70.4% 0.04 256.788);
  --color-brown: oklch(40.8% 0.123 38.172);
  --text-xxs: 0.6rem;
  --text-xxxs: 0.4rem;
}
